<html>
<body>
    <h1>You're Finished!</h1>
    <p>You did it! You have created your first website. We hope you found your development experience to be easy and pain-free. A lot of times the hardest part is getting started, so if you have made it this far, good job! Now that you have the basic framework set up, you can add and remove pages very easily. It is possible to make websites that do much more complicated things such as connect to databases, or generate dynamic content. If you would like to learn more about this, we encourage you to consult more in depth resources, either in books or on the Internet. Microsoft provides courses on some of these concepts, although they’re not all free, they are very helpful if you are serious about your wish to learn more. We hope you enjoyed creating your first website, and are glad that we could help!</p>

    <div>
        <a class="btn btn-default" href=@Url.Action("StepSeven","ComManual")>Prev.</a>
        <a class="btn btn-default" href=@Url.Action("StepNine","ComManual")>Next</a>
    </div>
</body>
</html>
