<html>
<body>
    <h1>Hosting Your Website</h1>
    <p>Now that you have created your website, you need to host it somewhere so that others can view it! There are many options for hosting but really, it boils down to choosing between hosting the website on your own, or hosting it on a third-party service. Hosting a website on your own computer or server gets pretty complicated so for the sake of this manual, we will focus on hosting it with a third-party service. The process for hosting with a third-party service will change depending on the service used. A few popular hosting services are Microsoft’s Azure, Amazon Web Services, and BlueHost. See <a href="http://www.hostingadvice.com/reviews/">http://www.hostingadvice.com/reviews/</a> for more information on hosting and reviews about some popular service providers.</p>

    <div>
        <a class="btn btn-default" href=@Url.Action("StepSix","ComManual")>Prev.</a>
        <a class="btn btn-default" href=@Url.Action("StepEight","ComManual")>Next</a>
    </div>
</body>
</html>
