<html>
<body>
    <h1>Installing Visual Studio Community</h1>
    <p>In order to create your website using ASP.NET MVC, you will need to install Visual Studio, which is an integrated development environment (IDE). An IDE is basically just a text editor, with some additional features that improve the development experience. It is possible to get Visual Studio on a Mac computer, but we recommend using a Windows computer because the setup is much easier and the frameworks are more stable, because they were specifically made for Windows. We will use the free version of Visual Studio, known as Visual Studio Community 2015.</p>
    <h3 id="on">Installation</h3>
    <p>By following the steps outlined below, you will be able to install Visual Studio Community on your Windows computer:</p>
    <h3 id="two">Step 1</h3>
    <p>Ensure that your computer meets the specifications listed in Appendix Part A before continuing with the installation steps. If your computer does not meet the requirements, Visual Studio will not run properly. If your computer meets the requirements, continue onto Step 2.</p>
    <h3 id="three">Step 2</h3>
    <p>The first step is to download the installation from Microsoft’s website: <a href="https://www.visualstudio.com/vs/community/">https://www.visualstudio.com/vs/community/</a>. On that page, there will be a link that says “Download Community 2015.” </p>
    <h3 id="four">Step 3</h3>
    <p>Once the download is complete, open the executable file, and a Visual Studio window should open. Select the Default option and then click Install, as shown below:</p>
    <img src="~/Content/" />

    <h3 id="five">Step 4</h3>
    <p>Once the install is complete, it you can click “Launch” at the bottom of the window to open up Visual Studio. You will be asked to sign in, if you have a microsoft account, you can enter the credentials, if not, either make one or simply click the option that says to skip signing in. After that the window will ask you to pick your development settings, for this you can use the default. It also asks you to choose a color theme; here you should pick whichever one you like best. </p>
    <h3 id="six">Installation Complete</h3>
    <p>The installation of Visual Studio Community 15 is now complete! Installation for this version is relatively simple, making it great for beginners who may just be getting into making websites. Continue reading to the next section where we will introduce you to the programming language you will be using, C#, as well as a brief explanation of the MVC architecture.</p>

    <div>
        <a class="btn btn-default" href=@Url.Action("TableOfContents","ComManual")>Prev.</a>
        <a class="btn btn-default" href=@Url.Action("StepTwo","ComManual")>Next</a>
    </div>
</body>
</html>