<html>
<body>
    <h1>
        Introduction
    </h1>
    <p>So you want to create a website of your own? There are many potential reasons you may want to build a website. Maybe you are creating a website for the business that you own, or to show off your accomplishments, or you just want to learn how web development works. All of these are great reasons to build a website and we are here to help! This instruction manual will give you a brief overview of how to create a simple MVC Web project that can be expanded as much as you want. This tutorial will not explain to you how MVC works, because that would require us to write a novel. MVC is complicated behind the scenes, but using it is relatively simple.</p>
    <p>Our tutorial follows a logical flow from beginning to end. The first thing you will do is install the tools necessary, then you will set up your MVC project. After that, we will briefly go over the programming language you will be using, and some of the concepts of MVC. Included in this is an overview of the template that is created when you setup your project. Then we will discuss how to change your website by adding and removing pages. Following that, we will give an overview of HTML, Cascading Stylesheets, and Javascript. And then finally, we will describe what hosting a website means and give you some advice on how to get your website hosted.</p>
    <p>We hope you find this instruction manual useful and hope that it makes your development experience fun, and painless!</p>

    <div>
        <a class="btn btn-default" href=@Url.Action("TableOfContents","ComManual")>Table of Contents</a>
    </div>
</body>
</html>
